<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net debug="true">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="Log\ODSAutomationUtility_%date{yyyyMMdd}.log"/>
      <appendToFile value="true"/>
      <bufferSize value="20"/>
      <LockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[Log Starts]%newline"/>
        <footer type="log4net.Util.PatternString" value="[Log Ends]%newline%newline"/>
        <conversionPattern value="%date [%username] - %message%newline"/>
      </layout>
    </appender>

    <!-- Specify the level for some specific categories -->
    <logger name="MyApplicationDebugLog">
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </logger>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <!-- <add key="strSQLConnectionString" value="server=(local); database = ODSAutomation; Integrated Security = true"/> -->
    <add key="strSQLConnectionString" value="server = odsdevserver.database.windows.net,1433; database = OdsDevADC; User ID = ; Password = "/>
    
    <add key="strExcelConnectionString" value="Provider = Microsoft.ACE.OLEDB.12.0; Data Source = filename; Extended Properties = Excel 12.0;" />

    <add key="strDIIFileName" value="C:\ZZZ_STUFF\Project\ADCT\Requirement Documents\ADCT DII_V3.xlsx" />
    <add key="strODSScriptsOutputFilePath" value="C:\ZZZ_STUFF\Project\ADCT\Requirement Documents\" />

    <add key="strAzureTenantId" value="" />
    <add key="strAzureApplicationId" value="" />
    <add key="strAzureSubscriptionId" value="" />
    <add key="strAzureAuthenticationKey" value="" />
    <add key="strResourceGroupName" value="ODSDev" />
    <add key="strAzureDataFactoryName" value="ADCDevDataFactory" />
    <add key="strVeevaEnvironemntUrl" value="https://test.salesforce.com" />
    <add key="strVeevaUsername" value="" />
    <add key="strVeevaPassword" value="" />
    <add key="strVeevaSecurityToken" value="" />

    <!-- The below data load order is based on the distribution of Volume of data that can be loaded into ODS.
          We have to distribute the data load since Salesforce does not allow too many parallel connections.
          So, data load of three objects will be loaded in parallel at a time. -->
    <add key="strVeevaObjectsDataLoadOrder" value="User,Territory,Account,UserTerritory,RecordType,Address,RepRoster,Product,AccountTerritoryLoader,ZipToTerr,Affiliation,TimeOffTerritory,Call,CallDetail,MedicalInquiry,MedicalInsight" />

    <!--  By default, we will setup all copy activities to do delta data load i.e. load records which have changed in the last 7 days.
          But we can have certain objects to be excluded from this delta data load and have all data loaded every day. -->
    <add key="strObjectsWithDeleteSupport" value="" />

    <!-- This setting controls whether to create ODS database objects or to simply generate the scripts.-->
    <add key="strCreateOdsObjects" value="true" />

    <!-- This setting supports two modes(FULL, DELTA). 
          FULL mode will create a pipeline in which Copy activities will not have any WHERE clause. 
          DELTA mode will create a pipeline in which Copy activities will DELTA data load except for those objects specified in strObjectsWithDeleteSupport. -->
    <add key="strPipelineDataLoadMode" value="FULL" />

    <!-- This setting controls whether SCD should be setup on Production layer or not. -->
    <add key="strSCDNeeded" value="YES" />

    <!-- This setting controls how many days worth of data should be loaded from Veeva into ODS(Staging Layer). -->
    <add key="iVeevaDataLoadForLastNDays" value="7" />
  </appSettings>
</configuration>