################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExcelExportEngine/ExcelExportEngine/obj
/JobMonitor/JobMonitor/obj
/ODSAutomationUtility/ODSAutomationUtility/obj
/SendEmailActivity/SendEmailActivity/obj
/VeevaDeleteActivity
/ODSDataConnector/ODSDataConnector.Core/obj
/ODSDataConnector/ODSDataConnector.API/obj
/ODSDataConnector/ODSDataConnector.API/.vs/ODSDataConnector
/ODSDataConnector/ODSDataConnector.API/bin/Debug/net6.0
/ODSDataConnector/ODSDataConnector.Core/bin/Debug/net6.0
/DWHPackages/DWHPackages/.vs/DWHPackages
/DWHPackages/DWHPackages/DWHPackages.API/obj
/DWHPackages/DWHPackages/DWHPackages.API/bin/Debug/net6.0
/DWHPackages/DWHPackages/DWHPackages.Core/bin/Debug/net6.0
/DWHPackages/DWHPackages/DWHPackages.Core/obj
/ODSDataConnector/ODSDataConnector.API/bin/Release/net6.0
/ODSDataConnector/ODSDataConnector.API/.vs/ProjectEvaluation
/ODSDataConnector/ODSDataConnector.API/Properties
/ODSDataConnector/ODSDataConnector.API/ODSDataConnector.API.csproj.user
/ODSDataConnector/ODSDataConnector.Core/bin/Release/net6.0
/DWHPackages/DWHPackages/.vs/ProjectEvaluation
/ODSAutomationUtility/.vs/ODSAutomationUtility/FileContentIndex
/ODSAutomationUtility/.vs/ODSAutomationUtility/v17/.suo
