<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Username" value="ods.admin@aclaristx.com.full"/>
    <add key="Password" value="Aclaris123"/>
    <add key="SecurityToken" value="FgyaXlW6BGHFijWJzzqUd8ft"/>
    <!--For V2 Web reference-->
    <!--<add key="LoginUrl" value="https://test.salesforce.com/services/Soap/c/41.0/0DF0t0000008OJw"/>-->
    <add key="LoginUrl" value="https://test.salesforce.com/services/Soap/c/40.0/0DF1D000000003K"/>
    <add key="ExternalFieldName" value="external_id_here_for_upsert_test"/>
    <add key="AttachmentParentId" value=""/>
    <add key="ConnectionString" value="Server=tcp:odsdevserver.database.windows.net,1433;Initial Catalog=OdsDevATX;Persist Security Info=False;User ID=odsdevadmin;Password=Acc1234!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
