
CREATE OR ALTER PROCEDURE [dbo].[sp_adf_jobmonitoring_transform]
AS
BEGIN

	TRUNCATE TABLE ADF_JobMonitoring;

	WITH cte_ADF_PipelineRun AS
	(
		SELECT P.DataFactoryName, P.PipelineName, AP.RunStatus, AP.ErrorMessage,
			ROW_NUMBER() OVER(PARTITION BY P.DataFactoryName, P.PipelineName ORDER BY AP.LastUpdated DESC) AS RowNum
		FROM ADF_PipelineRun AP
		INNER JOIN ADF_Pipeline P ON P.PipelineId = AP.PipelineId
		WHERE CONVERT(DATE, AP.LastUpdated) = CONVERT(DATE, GETDATE())
	)
	, cte_DataFactoryGroupedDetails AS
	(
		SELECT
			DataFactoryName AS [Description],
			CASE
				WHEN DataFactoryName = 'THVProdDataFactory' THEN 'Theravance'
				WHEN DataFactoryName = 'MTPAProdDataFactory' THEN 'MTPA'
				WHEN DataFactoryName = 'BrfProdPACPDataFactory' THEN 'PACIRA'
				WHEN DataFactoryName = 'BIPIProdDataFactory' THEN 'BIPI'
				WHEN DataFactoryName = 'FidiaProdDataFactory' THEN 'FIDIA'
				WHEN DataFactoryName = 'ADCTProdDataFactory' THEN 'ADCT'
				WHEN DataFactoryName = 'URGNProdDataFactory' THEN 'URGN'
				WHEN DataFactoryName = 'MonitoringProdDataFactory' THEN 'CNX'
				WHEN DataFactoryName = 'PSProdDataFactory' THEN 'PharmaSpectra'
			END AS Customer,
			STRING_AGG('Pipeline Name :' + PipelineName + ' ' + ' - Error Message :' +  ErrorMessage, '- Next Error - '+ CHAR(10) + CHAR(13)) AS [Status (Green, Yellow, Red)],
			CASE WHEN RunStatus = 'Failed' THEN 'FAILED' ELSE 'PASSED' END AS [Remarks]
		FROM cte_ADF_PipelineRun WHERE RowNum = 1
		GROUP BY DataFactoryName, RunStatus
	)
	, cte_DataFactoryDetailsWithRowNum AS
	(
		SELECT *, ROW_NUMBER() OVER(PARTITION BY [Description] ORDER BY [Remarks] ASC) AS RowNum FROM cte_DataFactoryGroupedDetails
	)
	INSERT INTO ADF_JobMonitoring([Description],[Customer],[Status (Green, Yellow, Red)],[Remarks])
	SELECT [Description], Customer, [Status (Green, Yellow, Red)], [Remarks] FROM cte_DataFactoryDetailsWithRowNum WHERE RowNum = 1;

END

